@import "~normalize.css";

@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

html {
  box-sizing: border-box;
  background: #ffc600;
  color: yellow;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: 400;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.main {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  &__heading {
    color: white;
    font-size: 50px;
    min-width: 100vw;
    position: absolute;
    text-align: center;
    z-index: 2;
  }
}

.article {
  background: #688f9c;
  background-size: cover;
  background-position: center;
  align-items: center;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-transform: uppercase;
  padding: 16px 16px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba (0, 0, 0, 0.45);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s ease-in, background 0.2s;
  &__photo {
    flex-shrink: 1;
    overflow: hidden;
    max-width: 150px;
  }
  &--1 {
    background: url(../assets/img/mountain.jpg);
    background-position: center;
    background-size: cover;
  }
  &--2 {
    background: url(../assets/img/rain.jpg);
    background-position: center;
    background-size: cover;
  }
  &--3 {
    background: url(../assets/img/sky.jpg);
    background-position: center;
    background-size: cover;
  }
  &--4 {
    background: url(../assets/img/freedom.jpg);
    background-position: center right;
    background-size: cover;
  }
  &--5 {
    background: url(../assets/img/flower.jpg);
    background-position: center;
    background-size: cover;
  }
  &:hover {
    border: 2px solid white;
  }
}

.article > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article > *:first-child {
  transform: translateY(-150%);
  align-items: flex-end;
}

.open-active > *:first-child {
  transform: translateY(0);
}

.article > *:last-child {
  transform: translateY(150%);
  align-items: flex-start;
}

.open-active > *:last-child {
  transform: translateY(0);
}

.open {
  flex: 5;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 8px white;
}
