@import "~normalize.css";

@import "_variables";
@import "modules/article.scss";
@import "modules/open.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap");

html {
  background: #004b23;
  box-sizing: border-box;
  color: #ffc600;
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-weight: 400;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.main {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  &__heading {
    color: white;
    font-size: 50px;
    min-width: 100vw;
    position: absolute;
    text-align: center;
    z-index: 2;
  }
}

@media screen and (max-width:425px){
.main {
  display:block;
  &__heading {
    position:static;
  }
}

.article__photo {
  margin: 16px 0;
}
.article > *:first-child {
  transform: translateX(-150%);
}

.article > *:last-child {
  transform: translateX(150%);
}

.open-active > *:first-child {
  transform: translateX(0);
}
.open-active > *:last-child {
  transform: translateX(0);
}

}